services:
{%- for k in range(keeper_hostnames | length) %} 
  {{ keeper_hostnames[k] }}:
    restart: unless-stopped
    image: clickhouse/clickhouse-keeper:{{ keeper_versions[k] }}
    labels:
      - "type=experiment"
    cpus: {{ keeper_cpus[k] }}
    mem_limit: {{ keeper_memorys[k] }}
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    container_name: {{ keeper_hostnames[k] }}
    hostname: {{ keeper_hostnames[k] }}
    ports:
      - {{ keeper_prometheus_ports_external[k] }}:9363
      - {{ keeper_ports_external[k] }}:9181
    environment:
      - MALLOC_CONF=background_thread:true,dirty_decay_ms:1000,muzzy_decay_ms:1000
    volumes:
      - type: volume
        source: {{ keeper_hostnames[k] }}-config
        target: /var/lib/clickhouse
      - "./configs/{{ keeper_hostnames[k] }}/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml"
{% endfor -%}
{%- for n in range(node_hostnames | length) %} 
  {{ node_hostnames[n] }}:
    restart: unless-stopped
    image: clickhouse/clickhouse-server:{{ node_versions[n] }}
    labels:
      - "type=experiment"
    cpus: {{ node_cpus[n] }}
    mem_limit: {{ node_memorys[n] }}
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    container_name: {{ node_hostnames[n] }}
    hostname: {{ node_hostnames[n] }}
    ports:
      - {{ node_native_protocol_ports_external[n] }}:9000
      - {{ node_http_api_ports_external[n] }}:8123
      - {{ node_prometheus_ports_external[n] }}:9363
    volumes:
      - type: volume
        source: {{ node_hostnames[n] }}-config
        target: /var/lib/clickhouse
      - "./configs/{{ node_hostnames[n] }}:/etc/clickhouse-server/config.d/"
{% endfor %}

  prometheus:
    restart: unless-stopped
    image: prom/prometheus:latest
    labels:
    - "type=experiment"
    container_name: prometheus
    hostname: prometheus
    ports:
      - 9090:9090
    volumes:
      - "./configs/prometheus/prometheus_config.yml:/etc/prometheus/prometheus.yml"
    depends_on:
    {%- for keeper_hostname in keeper_hostnames %} 
      - {{ keeper_hostname }}
    {%- endfor -%}
    {%- for node_hostname in node_hostnames %} 
      - {{ node_hostname }}
    {%- endfor %}

  grafana:
    restart: unless-stopped
    image: grafana/grafana:latest
    labels:
    - "type=experiment"
    container_name: grafana
    hostname: grafana
    ports:
      - 3000:3000
    environment:
      - GF_INSTALL_PLUGINS=grafana-clickhouse-datasource
      - GF_LOG_LEVEL=debug
      - GF_UNIFIED_ALERTING_ENABLED=true
      - GF_ALERTING_ENABLED=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
    volumes:
      - "./configs/grafana/clickhouse-datasource.yml:/etc/grafana/provisioning/datasources/clickhouse-datasource.yml"
      - "./configs/grafana/clickhouse-dashboard.yml:/etc/grafana/provisioning/dashboards/clickhouse-dashboard.yml"
      - "./configs/grafana/dashboards:/var/lib/grafana/dashboards"
    depends_on:
    {%- for keeper_hostname in keeper_hostnames %} 
      - {{ keeper_hostname }}
    {%- endfor -%}
    {%- for node_hostname in node_hostnames %} 
      - {{ node_hostname }}
    {%- endfor %}

  cadvisor: 
    image: gcr.io/cadvisor/cadvisor-arm64:0.99-porterdavid 
    container_name: cadvisor
    labels:
    - "type=experiment"
    privileged: true
    ports: 
      - 8081:8080 
    volumes: 
      - /:/rootfs:ro 
      - /var/run:/var/run:rw 
      - /sys:/sys:ro 
      - /var/lib/docker/:/var/lib/docker:ro 
      - /dev/disk/:/dev/disk:ro
    depends_on: 
      - redis 
  redis: 
    image: redis:latest 
    container_name: redis 
    ports: 
      - 6379:6379 
volumes:
{% for keeper_hostname in keeper_hostnames %}  {{ keeper_hostname }}-config: 
{% endfor %}
{%- for node_hostname in node_hostnames %}  {{ node_hostname }}-config:
{% endfor %}
